{% extends "base.html" %}

{% block content %} 


<h1>Welcome, {{ current_user.first_name }}!</h1>
<ul>
    
    {% if user_meetings %}
    <h2>Your Meetings:</h2>
        {% for meeting in user_meetings %}
        <li>{{ meeting.name }} at {{ meeting.date }} Meeting Time:  {{ meeting.start_time }} - {{ meeting.end_time }}
          
          <!-- Delete button & event -->
          <button type="button" class="btn btn-sm btn-danger" onClick="deleteMeeting({{meeting.id}})">Delete</button>

          <a href="/update-meeting/{{meeting.id}}" class="btn btn-primary" data-toggle="modal" data-target="#"></a>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Recipient:</label>
                      <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Message:</label>
                      <textarea class="form-control" id="message-text"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Send message</button>
                </div>
              </div>
            </div>
          </div>

          









        </li>
        {% endfor %}
    {% else %}
        <h3>You can create a meeting below</h3>
    {% endif %}
    
</ul>

<form method="POST">
  
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" name="name">

  <label for="date">Date</label>
  <input type="date" class="form-control" id="date" name="date">

  <label for="start_time">Starting Time</label>
  <input type="time" class="form-control" id="start_time" name="start_time">

  <label for="end_time">Ending Time</label>
  <input type="time" class="form-control" id="end_time" name="end_time">

  <div align="center">
    <button type="submit" class="btn btn-primary">Add Meeting</button>
  </div>

</form>



    <!-- Delete script (Javascript) -->
<script>
  function deleteMeeting(id) {
      fetch(`/delete-meeting/${id}`, {
          method: 'POST'
          
      })
      .then(response => response.ok ? window.location.reload() : console.error('Delete failed'))
      .catch(error => console.error('Error:', error));
  }

</script>

{% endblock %}