{% extends "base.html" %}

{% block content %} 


<h1>Welcome, {{ current_user.first_name }}!</h1>
<ul>
    
    {% if user_meetings %}
    <h2>Your Meetings:</h2>
        {% for meeting in user_meetings %}
        <li>{{ meeting.name }} at {{ meeting.date }} Meeting Time:  {{ meeting.start_time }} - {{ meeting.end_time }}
          
          <!-- Delete button & event -->
          <button type="button" class="btn btn-sm btn-danger" onClick="deleteMeeting({{meeting.id}})">Delete</button>

          <button type="button" class="btn btn-sm btn-primary" onClick="openEditModal({{meeting.id}}, '{{ meeting.name }}', '{{ meeting.date }}', '{{ meeting.start_time }}', '{{ meeting.end_time }}')">Edit</button>

        </li>
        {% endfor %}
    {% else %}
        <h3>You can create a meeting below</h3>
    {% endif %}
    
</ul>


<div id="editMeetingModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Edit Meeting</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form id="editMeetingForm" method="post" action="/update-meeting">
                  <input type="hidden" id="editMeetingId" name="id">
                  <input type="text" id="editMeetingName" name="name" placeholder="Name" required>
                  <input type="date" id="editMeetingDate" name="date" required>
                  <input type="time" id="editMeetingStartTime" name="start_time" required>
                  <input type="time" id="editMeetingEndTime" name="end_time" required>
                  <button type="submit" class="btn btn-primary">Update</button>
                </form>
          </div>
      </div>
  </div>
</div>

<form method="POST">
  
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" name="name">

  <label for="date">Date</label>
  <input type="date" class="form-control" id="date" name="date">

  <label for="start_time">Starting Time</label>
  <input type="time" class="form-control" id="start_time" name="start_time">

  <label for="end_time">Ending Time</label>
  <input type="time" class="form-control" id="end_time" name="end_time">

  <div align="center">
    <button type="submit" class="btn btn-primary">Add Meeting</button>
  </div>

</form>



    <!-- Delete script (Javascript) -->
<script>
  function deleteMeeting(id) {
      fetch(`/delete-meeting/${id}`, {
          method: 'POST'
          
      })
      .then(response => response.ok ? window.location.reload() : console.error('Delete failed'))
      .catch(error => console.error('Error:', error));
  }

</script>

<script>
  function openEditModal(id, name, date, start_time, end_time) {
      document.getElementById('editMeetingId').value = id;
      document.getElementById('editMeetingName').value = name;
      document.getElementById('editMeetingDate').value = date;
      document.getElementById('editMeetingStartTime').value = start_time;
      document.getElementById('editMeetingEndTime').value = end_time;
      
      // Formun action özelliğini güncelle
      document.getElementById('editMeetingForm').action = '/update-meeting/' + id;
      
      $('#editMeetingModal').modal('show');
  }
</script>

{% endblock %}